root = true
define('C_REST_WEB_HOOK_URL','https://desafiobr.bitrix24.com.br/rest/1/ba0ka1qe4c5ksjx6/');//url on creat Webhook

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[docker-compose.yml]
indent_size = 4
